@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-rgb: 255, 255, 255;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-rgb: 0, 0, 0;
  }
} */

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.prose p {
  @apply text-lg;
  @apply my-5;
}

.prose h1 {
  @apply text-8xl;
  @apply tracking-tight;
  @apply font-black;
  @apply my-16;
}

.prose h2 {
  @apply text-5xl;
  @apply tracking-tight;
  @apply font-black;
  @apply my-4;
}

.prose h3 {
  @apply text-4xl;
  @apply tracking-tight;
  @apply font-bold;
  @apply my-4;
}

.prose h4 {
  @apply text-2xl;
  @apply tracking-tight;
  @apply font-semibold;
  @apply mb-4;
  @apply pb-2;
  @apply border-b-4;
  @apply border-b-brand-primary-600;
}

.prose h5 {
  @apply font-bold;
  @apply tracking-tight;
}

.prose h6 {
  @apply font-bold;
  @apply tracking-tight;
}

p + h1,
p + h2,
p + h3,
p + h4 {
  @apply mt-8;
}

.prose blockquote {
  @apply text-lg;
  @apply pl-4;
  @apply py-4;
  @apply my-5;
  @apply border-l-8;
  @apply border-l-slate-300;
  @apply bg-slate-100;
}

.prose a {
  @apply text-sky-500;
  @apply underline;
}

.prose strong,
.prose b {
  @apply font-bold;
}

.prose em,
.prose i {
  @apply italic;
}

.prose ol,
.prose ul {
  @apply ps-5;
  @apply my-5;
}

.prose ol li,
.prose ul li {
  @apply my-2;
}

.prose ol {
  list-style-type: decimal;
}

.prose ul {
  list-style-type: disc;
}
